<!DOCTYPE html>
<!-- 公共页面顶部开始 -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>张琪购物商城项目-公共页面</title>
    <!-- 重置样式表 -->
    <link rel="stylesheet" href="../css/reset.css">
    <!-- 公共样式表 -->
    <link rel="stylesheet" href="../css/common.css">
    <!-- 菜单轮播样式表 -->
    <link rel="stylesheet" href="../css/slide.css">
    <!-- 当前样式表 -->
    <link rel="stylesheet" href="../css/index.css">
    <!-- 引入jq框架 -->
    <script src="../lib/jquery.min.js"></script>
    <!-- 引入jq轮播框架 -->
    <script src="../lib/jquery.slidebox.js"></script>
    <!-- 引入当前js脚本 -->
    <script src="../javascripts/index.js"></script>
</head>

<body>
    <!-- 头部 -->

    <div id="head" class="container-fluid">
        <div class="container clearfix">
            <img src="../imgs/logo.jpg" alt="" class="fl logo">
            <a href="index.html" class="fl address">legou.cn</a>
            <div class="fr welcome">欢迎光临<a href="#">乐购</a>,请登录\<a href="#"> 注册</a></div>
        </div>
    </div>
    <!-- 头部搜索框 -->
    <div class="search-box container clearfix">
        <div class="fr ">
            <a href="#" class="black ">我的订单</a>
        </div>
        <div class="fr">
            <a href="" class="white">购物车3</a>
        </div>
        <form action="" class="fr  searchForm">
            <input type="text" name="search" class="search-text fl" placeholder="创意文具">
            <input type="submit" value="" class="search-btn  fl">
        </form>

    </div>
    <!-- 头部导航栏  -->
    <ul class="clearfix container" id="nav">

        <li class="fr"><a href="#">电器城</a></li>
        <li class="fr"><a href="#">海外购</a></li>
        <li class="fr"><a href="#">地方特产</a></li>
        <li class="fr"><a href="#">创意文具</a></li>
        <li class="fr"><a href="#">家具</a></li>
        <li class="fr"><a href="#">婴幼童</a></li>
        <li class="fr"><a href="#">运动户外</a></li>
        <li class="fr"><a href="#">服装</a></li>
        <li class="fr"><a href="#">原创文学</a></li>
        <li class="fr"><a href="#">电子书</a></li>
        <li class="fr"><a href="book-detail.html">图书</a></li>
    </ul>
    <!-- 公共页面顶部结束 -->




      <!--  乐购尾部-->
      <div class="container-fluid foot">
        <div class="container clearfix">
            <div>
                <img src="../imgs/222_11.png" alt="">
                <img src="../imgs/222_13(1).png" alt="">
                <img src="../imgs/222_15.png" alt="">
                <img src="../imgs/222_11.png" alt="">
            </div>
            <ul>
                <li>
                    <img src="../imgs/logo_00.png" alt="">
                </li>
            </ul>
            <ul>
                <li>
                    <h3>商家服务</h3>
                </li>
                <li>商家中心</li>
                <li>运营服务</li>
                <li>加入尾巴汇</li>
            </ul>
            <ul>
                <li>
                    <h3>退换货</h3>
                </li>
                <li>自动深情退换货</li>
                <li>退换货进度查询</li>
                <li>退款方式和时间</li>
            </ul>
            <ul>
                <li>
                    <h3>订单服务</h3>
                </li>
                <li>订单配送查询</li>
                <li>订单状态说明</li>
                <li>自动取消订单</li>
                <li>自动修改订单</li>
            </ul>

            <ul>
                <li>
                    <h3>支付方式</h3>
                </li>
                <li>购物流程</li>
                <li>发票制度</li>
                <li>账户管理</li>
                <li>会员优惠</li>
            </ul>
            <ul>
                <li>
                    <h3>购物指南</h3>
                </li>
                <li>购物流程</li>
                <li>发票制度</li>
                <li>账户管理</li>
                <li>会员优惠</li>
            </ul>
        </div>
        <div class="link">
            <a href="#">公司简介</a>
            <a href="#">nevtor Retions</a>
            <a href="#">网站联盟</a>
            <a href="#">乐购招商</a>
            <a href="#">机构销售</a>
            <a href="#">手机乐购</a>
            <a href="#">官方Blog</a>
            <a href="#">热词搜索</a>
        </div>
        <div class="copy">Copyright&copy;乐购网2004-2016，All Right Reseverd</div>
    </div>

</body>

</html>