<!DOCTYPE html>
<!-- 公共页面顶部开始 -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>张琪购物商城项目-登录页面</title>
    <!-- 重置样式表 -->
    <link rel="stylesheet" href="../css/reset.css">
    <!-- 公共样式表 -->
    <link rel="stylesheet" href="../css/common.css">
    <!-- 当前样式表 -->
    <link rel="stylesheet" href="../css/login.css">
    <!-- 引入jq框架 -->
    <script src="../lib/jquery.min.js"></script>
    <!-- 引入当前js脚本 -->
    <script src="../javascripts/login.js"></script>
</head>

<body>
    <!-- 头部 -->

    <div id="head" class="container-fluid">
        <div class="container clearfix">
            <img src="../imgs/login-logo.png" alt="" class="fl logo">
            <a href="index.html" class="fl address">legou.cn</a>
            <div class="fr welcome">欢迎光临<a href="login.html">乐购</a>,请登录\<a href="sign.html"> 注册</a></div>
        </div>
    </div>

    <!-- 登录界面 -->
    <div class="container-fluid login-in">
        <div>
            <!-- 登录头部 -->
            <ul class="clearfix login-title">
                <li class="fl">扫码登录</li>
                <li class="fr active">账户登录
                </li>
            </ul>

            <!-- 登录尾部 -->
            <ul class="clearfix login-detail">
                <li class="fl ld-scan">
                    <div><img src="../imgs/scan_03.png" alt="" class="sss">
                        <img src="../imgs/sao.png" alt="">
                    </div>
                    <p>打开手机版 乐购APP 扫一扫</p>
                </li>

                <li class="fr ld-login">
                    <p><img src="../imgs/login-name.png" alt=""><input type="text" value="" name="user-name"
                            placeholder="用户名" autofocus
                            class="user-name"><span class="user-message">请输入正确的用户名</span></p>
                    <p><img src="../imgs/login-password_06.png" alt=""><input type="password" value="" name="pwd"
                            placeholder="密码" class="pwd"><span class="pwd-message">请输入正确的用户密码</span></p>
                    <div class="clearfix auto-login">
                        <span class="fl small-box"></span><span class="fl">自动登录</span><a href="#" class="fr black">忘记密码</a>
                    </div>

                    <input type="submit" name="submit" value="登录" class="submit">
                    <div class="login-to"><img src="../imgs/login-red.png" alt=""><a href="sign.html" class="fs16  cf6" target="_black">立即注册</a>
                    </div>

                </li>
            </ul>




        </div>



    </div>






    <!--  乐购尾部-->
    <div class="container-fluid login-foot">
        <div class="link">
            <a href="#">公司简介</a>
            <a href="#">nevtor Retions</a>
            <a href="#">网站联盟</a>
            <a href="#">乐购招商</a>
            <a href="#">机构销售</a>
            <a href="#">手机乐购</a>
            <a href="#">官方Blog</a>
            <a href="#">热词搜索</a>
        </div>
        <div class="copy">Copyright&copy;乐购网2004-2016，All Right Reseverd</div>
    </div>

</body>

</html>